#quizContainer {
    margin: auto;
    width: 80%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

/* ?? This keeps being problematic - fails to align vertically the radio buttons and needs pruning after a solution is found*/
  .likert {
    background-color: whitesmoke;
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
  }

  .button {
    background-color: yellowgreen;
    border-radius: 3px;
    border-width: 1px;
    border-color: lightgrey;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 25px auto;
    opacity: 0.6;
    transition: 0.9s;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}

  #feedbackG1, #feedbackG2, #feedbackG3, #feedbackG4, #feedbackG5 {
    margin-bottom: 10px;
  }

  #scoreG1, #scoreG2, #scoreG3, #scoreG4, #scoreG5 {
    background-color: lightgrey;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 5px;
  }

  #feedbackG1Msg, #feedbackG2Msg, #feedbackG3Msg, #feedbackG4Msg, #feedbackG5Msg {
    font-size: 0.9em;
  }

  .question {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px;
    font-size: 0.9em;
  }

  .group-title {
    font-size: 0.9em;
    text-transform: uppercase;
    margin-top: 16px;
    background-color: yellowgreen;
    padding: 5px;
  }

  #chartContainer {
    position: flex;
    width: 50%;
    margin:auto;
    height: 50vh;
    justify-content: center;
    align-items: center;
  }

  .container-results {
    display: flex;
  }
  
  .left-column, .right-column {
    padding: 10px;
  }

